[user]
	name = Alexis Wurth
	email = alexis.wurth@pilipili-web.com
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = nano
	excludesfile = /home/alexis/.gitignore
[pull]
	rebase = preserve
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
